.header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar{
    margin: 0;

    &__list{
        display: flex;
    }
    &__item{
        padding-left: 20px;
        list-style-type: none;
    }
    &__link{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        color: #FFFFFF;
        text-decoration: none;
    }
}
.nav{
    margin: 0;

    &__list{
        display: flex;
    }
    &__item{
        padding-left: 20px;
        list-style-type: none;
    }
    &__link{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        color: #808080;   
        text-decoration: none;     
    }
}